name: CI/CD Cypress Cucumber

on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main
  schedule:
    - cron: '0 8 * * 1-5'  # Executa de segunda a sexta s 08:00

  workflow_dispatch:  # Permite disparar manualmente com par芒metros
    inputs:
      test_tag:
        description: 'Tag do cen谩rio a ser executado'
        required: false
        default: '@regression'
      browser:
        description: 'Navegador para rodar os testes'
        required: false
        default: 'chrome'

jobs:
  cypress-tests:
    runs-on: ubuntu-latest

    steps:
      - name:  Checkout do c贸digo
        uses: actions/checkout@v3

      - name:  Configurar Node.js
        uses: actions/setup-node@v4
        with:
          node-version: '18'

      - name:  Instalar depend锚ncias
        run: npm install

      - name: И Executar testes Cypress com Cucumber
        env:
          TEST_TAG: ${{ github.event.inputs.test_tag || '@regression' }}
          BROWSER: ${{ github.event.inputs.browser || 'chrome' }}
        run: |
          npx cypress-tags run --env TAGS=$TEST_TAG --browser $BROWSER --headless

      - name:  Gerar relat贸rio com Mochawesome
        run: npm run report:generate  # Ajuste para o comando correto do seu setup

      - name:  Publicar relat贸rio no GitHub Pages
        uses: peaceiris/actions-gh-pages@v3
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          publish_dir: ./cypress/reports  # Ajuste conforme o diret贸rio dos seus relat贸rios
